{% extends 'base.html.twig' %}

{% block title %}
    View record
{% endblock %}

{% block body %}
    <h1>View record</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>Title</dt>
            <dd>{{ item.title }}</dd>
            <dt>Content</dt>
            <dd>{{ item.content }}</dd>
            <dt>Tags</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            Record not found.
        </p>
    {% endif %}
{% endblock %}