{% extends 'base.html.twig' %}

{% block title %}Search Action{% endblock %}

{% block body %}
    <h1>Search Action</h1>

    Balance from {{ date1 }} to {{ date2 }} is {{ results['balance']  }}

{% endblock %}
