{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}<br>

    <a href="{{ path('wallet_index') }}" class="btn btn-outline-primary">Back to wallets</a>
{% endblock %}
