{% extends 'base.html.twig' %}

{% block title %}Edit Wallet{% endblock %}

{% block body %}
    <h1>Edit Wallet</h1>

    {{ include('wallet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wallet_index') }}">back to list</a>

    {{ include('wallet/_delete_form.html.twig') }}
{% endblock %}
