{% extends 'base.html.twig' %}

{% block title %}New Wallet{% endblock %}

{% block body %}
    <h1>Create new Wallet</h1>

    {{ include('wallet/_form.html.twig') }}

    <br><a href="{{ path('wallet_index') }}" class="btn btn-outline-success">Back to wallets</a>
{% endblock %}
